@model IEnumerable<Website_BanSachAT.Models.SACH>

@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
    @{
        if (Model != null)
        {
            <h2>Kết quả đã tìm được</h2>
            <hr>
            <div class="row text-center">
                @{
                    var i = 0;
                }
                @foreach (var sach in Model)
                {

                    i++;
                    if (i % 3 == 0)
                    {
                        @:<div class="col-sm-4 col-md-4 col-lg-4 col-xs-6 hidden-xs">
                        }
                    else
                    {
                            @:<div class="col-sm-4 col-md-4 col-lg-4 col-xs-6 ">
                            }
                            <div class="thumbnail ">
                                <img src="~/Images/@sach.AnhBia" alt="Thumbnail Image 1" class="img-responsive img-rounded imgbook" style="height:300px;">
                                <div class="caption">
                                    <h4 style="min-height: 70px;">
                                        <a href="@Url.Action("Search", "Search", new { id = @sach.MaSach })"> @sach.TenSach</a>                                   
                                    </h4>
                    
                                    <p><a href="#" class="btn btn-primary" role="button"><span class="glyphicon glyphicon- shopping-cart" aria-hidden="true"></span> Add to Cart</a></p>
                                </div>
                            </div>
                        @:</div>

                }
            </div>
            <nav class="text-center">
                <ul class="pagination">
                    <li> <a href="#" aria-label="Previous"> <span aria-hidden="true">&laquo;</span> </a> </li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li class="disabled"><a href="#">5</a></li>
                    <li> <a href="#" aria-label="Next"> <span aria-hidden="true">&raquo;</span> </a> </li>
                </ul>
            </nav>
        }
        else
        {
            <h2>Không tìm thấy kết quả</h2>
        }
    }
</div>
</div>
