
@{
    ViewBag.Title = "XacNhanDatHang";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">

    <h2 style="color: blue; border-bottom: 3px solid #ff6a00">Xác Nhận Đặt Hàng</h2>

    <h4>Đơn hàng của quý khách đã được chúng tôi ghi nhận, chúng tôi sẽ liên hệ quý khách trong thời gian sớm nhất và giao hàng đúng hẹn. Chân thành cảm ơn ! :3</h4>
    <p>
        @Html.ActionLink("VỀ TRANG CHỦ", "Index", "Book")
    </p>
    <hr />
</div>